.grid-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các ô */
    max-height: 280px; /* Chiều cao tối đa của lưới */
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi cần */
    width: 1430px;
  }
  
  .grid-item {
    border-radius: 6px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
  }

  .container{}

  .grid-container::-webkit-scrollbar {
    width: 0; /* Độ rộng của thanh cuộn */
    height: 1px;
  }
  
  .grid-container::-webkit-scrollbar-thumb {
    background-color: #212228; /* Màu nền cho phần thanh cuộn */
    border-radius: 4px; /* Bo góc cho phần thanh cuộn */
  }
  
  .grid-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Màu nền của phần track */
  }
  .container::-webkit-scrollbar {
    width: 0; /* Độ rộng của thanh cuộn */
    height: 1px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #212228; /* Màu nền cho phần thanh cuộn */
    border-radius: 4px; /* Bo góc cho phần thanh cuộn */
  }
  
  .container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Màu nền của phần track */
  }